#[DATABASE]
database.host=172.29.13.80
database.port=6100
database.dbname=ZENBASENET
database.charset=iso_1
database.driver=com.sybase.jdbc4.jdbc.SybDriver
database.url=jdbc:sybase:Tds:
database.user=programmers
database.password=programmers
#database.script=select  payment_id, batchid, vendor_name, approval_date , ptystatus, payment_type, DATEDIFF (hh, approval_date ,Getdate() ) as Duration from zenbasenet..zib_cib_pmt_payments where ptystatus in ('pending') and approval_date is not null order by approval_date desc
#database.script2=select count(*) as Number, payment_type from ZENBASENET..zib_cib_pmt_payments where ptystatus in ('pending') and approval_date is not null group by payment_type





